
main {
  

  & h3 {
    font-size: 40px;
    color: #6a029a;
    font-weight: 800;
  }

  & .img-presentacion {
    width: 240px;
    height: 270px;
    object-fit: cover;
  }

  & .contenedor-descripcion {
    width: 400px;
  }

  & .card-paquetes {
    box-shadow: 0 0 20px #0230fc;
    background-color: #6a029a;
    margin: 0px;
    border: none;
    height: 100%;

    & .img-card {
      height: 300px;
      width: 250px;
      object-fit: cover;
    }
  }
}

@media (width < 577px) {
  main {
    font-size: 15px;

    & h3 {
      font-size: 20px;
    }
  }
}
